{% extends 'main/parent.html' %}

{% block content %}
<h1>Корзина</h1>
{% if cart_items %}
<table>
    <thead>
    <tr>
        <th>Название товара</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart_items %}
    <tr>
        <td>
            <a href="{{ item.product.get_absolute_url }}">{{ item.product.product_name }}</a>
        </td>
        <td>{{ item.product.product_price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.get_total_price }}</td>
        <td>
            <a href="{% url 'remove_from_cart' item.product.pk %}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<{% if cart_items %}
<!-- ... -->
<h2>Общая сумма: {{ cart_total }}</h2>
<a href="{% url 'clear_cart' %}">Очистить корзину</a>
{% else %}
<p>Ваша корзина пуста.</p>
{% endif %}
{% else %}
<p>Ваша корзина пуста.</p>
{% endif %}
<a href="{% url 'create_order' %}" class="btn btn-primary">Оформить заказ</a>
{% endblock %}
