{% extends 'main/parent.html' %}

{% load static %}
{% block content %}
{% if cpu_list %}
{% for cpu in cpu_list %}
      <div class="item">
        <a href="{{ cpu.get_absolute_url }}">{{ cpu.cpuName }}</a>
          ({{cpu.cpuPrice}})
      </div>
{% endfor %}
{% else %}
      <p>There are no cpus yet</p>
{% endif %}
{%endblock%}

{% block endpage %}
{% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{%endblock%}
