{% extends 'main/parent.html' %}

{% load static %}


{% block content %}
<div id="header">
<img class="hear" src="{% static 'main/images/logo.png' %} " alt="logo" title="I am best logo">
<h1> Super advertising agency </h1>
<h2> Choose hero of your advertising campaign </h2>
<div id="container">
    <div class="item">
        <h3>Woman cat</h3>
        <img class="images" src="{% static 'main/images/cat.jpg' %}">
    </div>
    <div class="item">
        <h3>AquaMan</h3>
        <img class="images" src="{% static 'main/images/aq.jpg' %} ">
    </div>
    <div class="item">
        <h3>Halk</h3>
        <img class="images" src="{% static 'main/images/green.jpg' %}">
    </div>
    <div class="item">
        <h3>Capitan of America</h3>
        <img class="images" src="{% static 'main/images/ka.jpg' %}">
    </div>
    <div class="item">
        <h3>Superman</h3>
        <img class="images" src="{% static 'main/images/sup.jpg' %}">
    </div>
    <div class="item">
        <h3>Iron Man</h3>
        <img class="images" src="{% static 'main/images/ts.jpg' %}">
    </div>
</div>
</div>

{% endblock %}