{% extends 'main/parent.html' %}

{% block content %}
<div class="product-detail-container">
    <div class="product-detail-image">
        <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="product-image-large"
             id="product-image"/>
    </div>
    <div class="product-detail-info">
        <h2>{{ product.product_name }}</h2>
        <p>{{ product.product_description }}</p>
        <p>Производитель: {{ product.product_manufacturer }}</p>
        <p>Цена: {{ product.product_price }}</p>
    </div>
    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>
</div>
{% endblock %}



