{% extends 'main/parent.html' %}

{% block content %}
<form method="GET" action="{% url 'products' %}">
    <input type="text" name="search" placeholder="Поиск по названию" value="{{ search_query }}"/>
    <button type="submit">Поиск</button>
</form>

<div class="products-container">
    {% for product in products %}
    <div class="product-card">
        <h3>{{ product.product_name }}</h3>
        <p>{{ product.product_manufacturer }}</p>
        <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="product-image"/>
        <a href="{{ product.get_absolute_url }}">Подробнее</a>
        <a href="{% url 'add_to_cart' product.pk %}">Добавить в корзину</a>

    </div>
    {% empty %}
    <p>По вашему запросу ничего не найдено.</p>
    {% endfor %}
</div>
{% endblock %}
