{% extends 'main/parent.html' %}

{% block content %}
<form method="GET" action="{% url 'products' %}">
    <input type="text" name="search" placeholder="Поиск по названию" value="{{ search_query }}"/>

    <select name="manufacturer">
        <option value="">Все производители</option>
        {% for manufacturer in manufacturers %}
        <option value="{{ manufacturer.pk }}" {% if selected_manufacturer== manufacturer.pk %}selected{% endif %}>{{
            manufacturer }}
        </option>
        {% endfor %}
    </select>

    <input type="number" name="min_price" placeholder="Мин. цена" value="{{ min_price }}" min="0"/>
    <input type="number" name="max_price" placeholder="Макс. цена" value="{{ max_price }}" min="0"/>

    <button type="submit">Поиск</button>
    <button type="button" onclick="location.href='{% url 'products' %}';">Сбросить</button>
</form>
<div class="products-container">
    {% for product in products %}
    <div class="product-card">
        <h3>{{ product.product_name }}</h3>
        <h3>{{ product.product_price }}</h3>
        <p>{{ product.product_manufacturer }}</p>
        <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="product-image"/>
        <a href="{{ product.get_absolute_url }}">Подробнее</a>
        <a href="{% url 'add_to_cart' product.pk %}">Добавить в корзину</a>

    </div>
    {% empty %}
    <p>По вашему запросу ничего не найдено.</p>
    {% endfor %}
</div>
{% endblock %}
